<main class="index">
    <div class="card">
        <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Hotel Brakutxeu</h1>
            <h3 class="mb-5">
                <em>Gerencie o seu Hotel</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Vamos começar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
    </div>
</main>