<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrar-se</h3>
                </div>
                <img src="/img/logo.png" alt="Logo Brakutxeu" class="card-img-top mx-auto m-2 rounded-circle w-50">
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="nome" placeholder="Nome completo" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="date" name="datanasc" placeholder="Data de nascimento" max="2002-01-01" min="1960-01-01" class="form-control">
                        </div>
                        <div class="form-group">
                            <select name="cargo" class="form-control" >
                                <option value="recepcionista">Recepcionista</option>
                                <option value="administrador">Administrador</option>
                                <option value="limpeza">Equipa Limpeza</option>
                                <option value="limpeza">Empregada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" name="senha"
                                placeholder="Senha" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="endereco"
                                placeholder="Endereço " class="form-control" >
                        </div>
                        <div class="form-group">
                            <input type="number" name="telefone"
                                placeholder="Telefone" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email"
                                placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>