<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
    <!-- /Logo -->
    <ul class="nav navbar-top-links navbar-right pull-right">
      {{#if funcionario}}
      <li>
        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
          <input type="text" placeholder="Pesquisar..." class="form-control">
          <a href="">
            <i class="fa fa-search"></i>
          </a>
        </form>
      </li>
      <li>
        <a class="profile-pic" href="perfil"> <b class="hidden-xs">Meu perfil</b></a>
      </li>
      <li>
        <a class="profile-pic" href="/sair"> <b class="hidden-xs">Sair</b></a>
      </li>
      {{else}}
      <li>
        <a class="profile-pic" href="/signin"> <b class="hidden-xs">Entrar</b></a>
      </li>
      <li>
        <a class="profile-pic" href="/signup"> <b class="hidden-xs">Registrar</b></a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
<!-- End Top Navigation -->